{% extends "blogs/base.html" %}
{% load django_bootstrap5 %}
{% block page_header %}
<h4 class="fw-light"><a class="text-decoration-none" href="{% url "blogs:index" %}">Site</a>/<a class="text-decoration-none" href="{% url "usd:view_usd_page" %}">Community</a>/Membership/new</h4>
<h3>Requesting Community Membership</h3>
{% endblock page_header %}
{% block content %}
<form action="{% url "usd:new_request_citizenship" %}" method='post' class="form" style="background-color: rgba(140, 140, 255, 0.15);">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button name="submit" class="btn btn-success">Send</button>
</form>
{% endblock content %}