{% extends "blogs/base.html" %}
{% load django_bootstrap5 %}
{% block page_header %}
<h4 class="fw-light"><a class="text-decoration-none" href="{% url "blogs:index" %}">Site</a>/<a class="text-decoration-none" href="{% url "usd:view_usd_page" %}">Community</a>/<a class="text-decoration-none" href="{% url "usd:petitions" %}">Idea Requests</a>/new</h4>
<h3>Creating an Idea Request</h3>
{% endblock page_header %}
{% block content %}
<form action="{% url "usd:new_petition" %}" method='post' class="form" style="background-color: rgba(140, 140, 255, 0.15);">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button name="submit" class="btn btn-success">Create</button>
</form>
{% endblock content %}