{% extends "blogs/base.html" %}
{% load django_bootstrap5 %}
{% block page_header %}
<h4 class="fw-light"><a class="text-decoration-none" href="{% url "blogs:index" %}">Site</a>/<a class="text-decoration-none" href="{% url "users:profile" user "settings" %}">Styles</a>/{{ style.name }}/edit/</h4>
<h3>Editing style {{ style.name }}</h3>
{% endblock page_header %}
{% block content %}
<form action="{% url "users:edit_style" style.id %}" method='post' class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button name="submit" class="btn btn-success">Save style</button>
</form>
<form method="POST" action="{% url "users:delete_style" style.id %}" class="form mt-3">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" name="delete_style">Delete this style</button>
</form>
{% endblock content %}