{% extends "blogs/base.html" %}
{% load django_bootstrap5 %}
{% block page_header %}
<h4 class="fw-light"><a class="text-decoration-none" href="{% url "blogs:index" %}">Site</a>/<a class="text-decoration-none" href="{% url "users:profile" user "settings" %}">Styles</a>/new/</h4>
<h3>Adding a new style</h3>
{% endblock page_header %}
{% block content %}
<form action="{% url "users:new_style" %}" method='post' class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button name="submit" class="btn btn-success">Save style</button>
</form>
{% endblock content %}