{% extends "blogs/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block page_header %}
<h4 class="fw-light"><a class="text-decoration-none" href="{% url "blogs:index" %}">Site</a>/Blogs/<a class="text-decoration-none" href="{% url "blogs:blog" blog.id %}">{{ blog }}</a>/Settings/<h4>
<h3>Viewing blog settings of blog {{ blog }}:</h3>
{% endblock page_header %}
{% block content %}
<div class="card mb-3" style="background-color: rgba(140, 140, 255, 0.15);">
    <div class="card-body">
        <h5>Owner: <a class="text-decoration-none" href="{% url "users:profile" blog.owner 'infobio' %}">{{ blog.owner }}</a></h5>                                                        
    </div>
</div>
<div class="card mb-3" style="background-color: rgba(140, 140, 255, 0.15);">
  <div class="card-header">
    <h4>Writers</h4>
  </div>
  <div class="card-body">
    {% for writer in writers %}
    <div class="row align-items-center">
      <div class="col">
        {% if writer.user.profile.pic %}
          <img src="{{ writer.user.profile.pic.url }}" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover;">
        {% else %}
          <img src="{% static 'default_picture.jpg' %}" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover;">
        {% endif %}
        <a class="text-decoration-none fw-light" href="{% url "users:profile" writer.user 'infobio' %}">{{ writer.user }}</a>
      </div>
      <div class="col-auto mb-3">
        <form method="POST" action="{% url "blogs:promote_writer" blog.id writer.id %}" class="form mt-3">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary" style="background-color:orange; border-color:orange" name="promote_writer">Promote</button>
        </form>
      </div>
      <div class="col-auto mb-3">
        <form method="POST" action="{% url "blogs:delete_writer" blog.id writer.id %}" class="form mt-3">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger" name="delete_writer">Delete</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<h3 class="fw-light text-decoration-none"><a href="{% url "blogs:search_writers" blog.id %}">Add a new writer</a></h3>
{% endblock content %}