{% extends "blogs/base.html" %}
{% block page_header %}
<h4 class="fw-light"><a class="text-decoration-none" href="{% url "blogs:index" %}">Site</a>/Data collection and storage/</h4>
{% endblock page_header %}
{% block content %}
<div class="card mt-3" style="background-color: rgba(140, 140, 255, 0.15);">
    <div class="card-header">
        <h3>Cookies</h3>
    </div>
    <div class="card-body">
        <p>This site DOES NOT use cookies for any data collection or storage, sharing information with any third parties or
        ads. Only technical cookies(e.g. CSRF-tokens) are used only for ensuring safety and correct work of this website.</p>
    </div>
</div>
<div class="card mt-3" style="background-color: rgba(140, 140, 255, 0.15);">
    <div class="card-header">
        <h3>Terms and Conditions</h3>
    </div>
    <div class="card-body">
        <ul>
            <li><h2>Content of Users</h2>
            By writing content you take full responsibility for it</li>
            <li><h2>Bans</h2>
            It is forbidden to write spam, protected author content, pornography, terrorist threats, terrorism support or any other content that is prohibited by law.</li>
            <li><h2>Moderation</h2>
            We(Administration) retain rights to delete posts, topics or blogs, ban or mute users with reasons being posted in "Official site updates" blog in topic "Site News". If You think administration mistaken with your ban, you can contact us with a comment in same announcement on one of your other accounts, or, if you don't have such ability to do so, send a mail to mailbox listed below</li>
        </ul>
    </div>
</div>
<div class="card mt-3" style="background-color: rgba(140, 140, 255, 0.15);">
    <div class="card-header">
        <h3>Privacy Policy</h3>
    </div>
    <div class="card-body">
        <h1 class="privacy-policy-h1">Privacy Policy
        <br><span>Last Updated On 19-Jul-2026</span>
        <br><span>Effective Date 19-Aug-2026</span>
        </h1>

        <p class="privacy-policy-p">
            This Privacy Policy describes the policies of

            Anything Website,
            Ukraine,
            email: help91922@gmail.com,

            on the collection,
            use and disclosure of your information that we collect
            when you use our website ( https://anythingwebsite.pythonanywhere.com ).
            (the “Service”). By creating an account and actively consenting during registration, you agree to the collection of your information in accordance with this
            Privacy Policy. If you do not consent to the same,
            please do not access or use the Service.
        </p>

        <p class="privacy-policy-p">
            We may modify this Privacy Policy at any time. We will post a message in Official Site Changelog blog and will post the revised
            Privacy Policy on the Service. The revised Policy will
            be effective 30 days from when the
            revised Policy is posted in the Service and your
            continued access or use of the Service after such time
            will constitute your acceptance of the revised Privacy
            Policy. We therefore recommend that you periodically
            review this page.
        </p>

        <ol class="privacy-policy-ol">
                <li>
                <h2 class="privacy-policy-h2">
                    Information We Collect:
                </h2>


                <p class="privacy-policy-p">
                    We will collect and process the following
                    personal information about you:
                </p>
                <ol class="privacy-policy-ol">










                                            <li>Username</li>
                                            <li>Password (stored in an encrypted/hashed form only)</li>

                </ol>
                <p class="privacy-policy-p">
                    You can optionally agree to input the following
                    personal information about you for collection:
                </p>
                <ol class="privacy-policy-ol">









                                            <li>Birth location</li>
                                            <li>Current location</li>
                                            <li>Personal data sent in posts/comments</li>
                                            <li>Create, Read, Update, Delete activity by doing same things in forms on site</li>

                </ol>




            </li>




                <li>
                <h2 class="privacy-policy-h2">
                    How We Use Your Information:
                </h2>
                <p class="privacy-policy-p">
                    We will use the information that we collect
                    about you for the following purposes:
                </p>
                <ol class="privacy-policy-ol">


                                <li>Creating user account and profile</li>






                                <li>Administration info</li>






                                <li>Manage user account</li>

                </ol>
                <p class="privacy-policy-p">
                    If we want to use your information for any other
                    purpose, we will ask you for consent and will
                    use your information only on receiving your
                    consent and then, only for the purpose(s) for
                    which you grant consent unless we are required to do
                    otherwise by law.
                </p>
            </li>



                <li>
                <h2 class="privacy-policy-h2">
                    Retention Of Your Information:
                </h2>
                <p class="privacy-policy-p">
                    We will not retain your personal information with us
                    after you delete your account but in some cases it
                    can be retained for as
                    long as we need it to fulfill the purposes for
                    which it was collected as detailed in this
                    Privacy Policy. We may need to retain certain
                    information for longer periods such as
                    record-keeping / reporting in accordance with
                    applicable law or for other legitimate reasons
                    like enforcement of legal rights, fraud
                    prevention, etc. Residual anonymous information
                    and aggregate information, neither of which
                    identifies you (directly or indirectly), may be
                    stored indefinitely.
                </p>
            </li>

            <li>
                <h2 class="privacy-policy-h2">
                    Your Rights:
                </h2>
                <p class="privacy-policy-p">
                    Depending on the law that applies, you may have
                    a right to access and rectify or erase your
                    personal data or receive a copy of your personal
                    data, restrict or object to the active
                    processing of your data, ask us to share (port)
                    your personal information to another entity,
                    withdraw any consent you provided to us to
                    process your data, a right to lodge a complaint
                    with a statutory authority and such other rights
                    as may be relevant under applicable laws. To
                    exercise these rights, you can write to us at
                    help91922@gmail.com.
                    We will respond to your
                    request in accordance with applicable law.
                </p>


                <p class="privacy-policy-p">
                    Do note that if you do not allow us to collect
                    or process the required personal information or
                    withdraw the consent to process the same for the
                    required purposes, you may not be able to access
                    or use the services for which your information
                    was sought.
                </p>
            </li>

            <li>
                <h2 class="privacy-policy-h2">
                    Security:
                </h2>
                <p class="privacy-policy-p">
                    The security of your information is important to
                    us and we will use reasonable security measures
                    to prevent the loss, misuse or unauthorized
                    alteration of your information under our
                    control. However, given the inherent risks, we
                    cannot guarantee absolute security and
                    consequently, we cannot ensure or warrant the
                    security of any information you transmit to us
                    and you do so at your own risk.
                </p>
            </li>


            <li>
                <h2 class="privacy-policy-h2">
                    Grievance / Data Protection Officer:
                </h2>
                <p class="privacy-policy-p">
                    If you have any queries or concerns about the
                    processing of your information that is available
                    with us, you may email our Grievance Officer at
                    Anything Website,
                    email: help91922@gmail.com.
                    We will address your concerns in accordance with applicable law.
                </p>
            </li>
        </ol>
    </div>
</div>
{% endblock content %}