{% extends "blogs/base.html" %}
{% load django_bootstrap5 %}
{% block page_header %}
<h4 class="fw-light"><a class="text-decoration-none" href="{% url "blogs:index" %}">Site</a>/Users/<a class="text-decoration-none" href="{% url "users:profile" user.username 'infobio' %}">{{ user.username }}</a>/edit/</h4>
<h2>Editing your profile...</h2>
{% endblock page_header %}
{% block content %}
<form action="{% url "users:edit_profile" %}" method='post' enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button name="submit" class="btn btn-success">Confirm and save</button>
</form>
{% endblock content %}  